*{color:white;
	padding:0px;
	margin:0px;}
html,body{height:100%;
	width:100%;
	}
/*div{padding-top:10px;}*/
body{position:relative;}
a {text-decoration:none;
    
    
	-webkit-transition: color 1.50s;
    -moz-transition:    color 1.50s;
    -ms-transition:     color 1.50s;
    -o-transition:      color 1.50s;
    transition:         color 1.50s;
	
}



.container{background-color:#2F4F4F;
	
	display:flex;
	flex-direction:row;
	height:40px;
	width:100%;	
	justify-content:space-around;
	flex:1;
	top:0;	
	position:fixed;
	z-index:4;
	
	}
.more{width:190px;}
.kinnauri,.phari,.about,.more{padding-top:10px;}
.kinnauri:hover{-webkit-transition: background-color 3s;
    -moz-transition:    background-color 3s;
    -ms-transition:     background-color 3s;
    -o-transition:      background-color 3s;
    transition:         background-color 3s;
	
	background-color:#1E90FF;
	}
.phari:hover{-webkit-transition: background-color 3s;
    -moz-transition:    background-color 3s;
    -ms-transition:     background-color 3s;
    -o-transition:      background-color 3s;
    transition:         background-color 3s;
	
	background-color:#1E90FF;
	}
.about:hover{-webkit-transition: background-color 3s;
    -moz-transition:    background-color 3s;
    -ms-transition:     background-color 3s;
    -o-transition:      background-color 3s;
    transition:         background-color 3s;
	
	background-color:#1E90FF;
	}
/*.more:hover{-webkit-transition: background-color 3s;
    -moz-transition:    background-color 3s;
    -ms-transition:     background-color 3s;
    -o-transition:      background-color 3s;
    transition:         background-color 3s;
	
	background-color:#1E90FF;
	}
*/

.kinnauri>a:hover{
		
		border-radius:4px;
		color:black;
		
		
	}
.phari>a:hover{
		padding-top:10px;
		padding-bottom:10px;
		border-radius:4px;
		color:black;
	}

.more>a:hover{
		padding-top:10px;
		padding-bottom:10px;
		border-radius:4px;
		color:black;
		-webkit-transition: background-color 3s;
    -moz-transition:    background-color 3s;
    -ms-transition:     background-color 3s;
    -o-transition:      background-color 3s;
    transition:         background-color 3s;
	
	background-color:#1E90FF;
	}
.about>a:hover{
		padding-top:10px;
		padding-bottom:10px;
		border-radius:4px;
		color:black;
	}
.more>a>i:hover{color:black;}
#typingtext{height:10%;
	color:black;
	text-align:center;
	padding-top:40px;
	position:absolute;
	font-size:50px;
	
	margin-left:400px;

color:blue;	



	}
#innermore{float:none;
	list-style-type:none;
	display:none;
	height:fit-content;
	margin:10px;
	
	background-color:#BC8F8F;
	opacity:0.8;
	
	}

#innermore>li{color:black;
		width:200px;}
#back{ background-image:url('music.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
	width:100%;
	height:100%;
	backgorund-attaachement:fixed;
	z-index:-1;
background-color:yellow;
position:fixed;
}
.sidenav{display:flex;
	flex-direction:row;
	position:fixed;
	z-index:4;
	align:bottom;
	
	width:10%;
	margin-top:40%;
	margin-left:40%;
	}
.sidenav>button{padding-top:20px;
		padding-bottom:20px;
		background-color:#663399;
		border:none;
		cursor:pointer;
		width:100%;
		height:100%;
		}
.trending{
	
	
	
	/*margin-left:15%;*/
	height:70%;
	width:100%;
	background-color:black;
	opacity:0.9;
	
	position:relative;
	white-space:nowrap;
	margin-top:16px;
	z-index:3;
	
	}
/*.trending>div{display:inline-block;
margin:20px;
}*/

#second{
	margin-top:100%;
	background-color:black;
opacity:0.8;
height:50%;
	}
@keyframes danger{
0% {background-color:red;margin-left:2%;}
}
.topEffect
{
	height:0%;
	width:0%;
	
	animation-name:danger2;
	animation-duration:4s;
	
	}
@keyframes danger2{
100% {background-color:red;margin-left:2%;height:0%;width:0%;}

}
#ft{height:30%;
width:20%;	
text-align:center;
	
	position:absolute;
	font-size:22px;
	margin-top:19%;
	margin-left:10%;
background-color:black;
animation-name:trend;
animation-duration:1s;
color:green;	

}
#st{height:15%;
width:5%;
	text-align:center;
	padding-top:10px;
	position:absolute;
	font-size:50px;
	margin-top:20%;
	margin-left:50%;
background-color:white;
animation-name:new;
animation-duration:2s;
color:green;	
}
#dt{height:15%;
width:5%;
	text-align:center;
	padding-top:10px;
	position:absolute;
	font-size:50px;
	margin-top:20%;
	margin-left:80%;
background-color:blue;
animation-name:old;
animation-duration:2s;
color:green;	
}
@keyframes trend
{0%{background-color:red;margin-left:2%;margin-top:10%;}
/*25%{background-color:red;margin-left:2%;margin-top:13%;}
50%{background-color:blue;margin-left:8%;margin-top:15%;}
75%{background-color:yellow;margin-left:15%;margin-top:18%;}*/
100%{background-color:green;margin-left:10%;margin-top:19%;}
}
@keyframes new
{0%{background-color:red;margin-left:2%;margin-top:10%;}
/*25%{background-color:red;margin-left:2%;margin-top:13%;}
50%{background-color:blue;margin-left:8%;margin-top:15%;}
75%{background-color:yellow;margin-left:20%;margin-top:18%;}*/
100%{background-color:green;margin-left:50%;margin-top:20%;}
}
@keyframes old
{0%{background-color:red;margin-left:2%;margin-top:10%;}
/*25%{background-color:red;margin-left:2%;margin-top:13%;}
50%{background-color:blue;margin-left:30%;margin-top:15%;}
75%{background-color:yellow;margin-left:40%;margin-top:18%;}*/
100%{background-color:green;margin-left:80%;margin-top:20%;}
}
.front {height:100%;
width:100%;

background-color:#2F4F4F;
position:absolute;
backface-visibility:hidden;
transform: rotateY(0deg);
/*opacity:0.8;*/
color:#8B0000;
text-align:right;
border:4px solid green;
border-radius:10px;
}
.frontb
{height:100%;
width:100%;
margin:0%;
position:absolute;
backface-visibility:hidden;
transform: rotateY(180deg);
border:4px solid yellow;
border-radius:10px;
opacity:1;
}
#ft{transition: 0.8s;
	transform-style: preserve-3d;
}
#ft:hover{transform: rotateY(180deg);}
.fa-facebook-square:hover{color:blue;
background-color:yellow;	
}

.frontb>img{width:100%;
height:100%;
opacity:1;

}
.fa-headphones{
color:#BC8F8F;
margin-top:6%;
margin-right:30%;
size:7x;}
#tt{color:#FFD700;
padding:20%;
margin-bottom:100%;
font-size:30px;}
